{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block head %}
{{ super() }}

{% endblock %}
{% block navbar %}
{{ super() }}
<div class="row">
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Task Manager</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav text-end">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/dashboard">Dashboard</a>
                    </li>
                    {% if session['admin'] %}
                    <li class="nav-item">
                        <a class="nav-link" href="/create">Create Task</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/task/overview">Tasks Overview</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    <li class="nav-item">
                        <p id="city">{{city}}</p>
                </ul>
            </div>
        </div>
    </nav>
</div>
{% endblock %}

{% block content %}

{% endblock %}


{% block scripts %}
{{ super() }}
<script>
window.onload = getLocation;

function getLocation() {
    if ("geolocation" in navigator) {
        navigator.geolocation.getCurrentPosition(function(position) {
            var lat = position.coords.latitude;
            var lon = position.coords.longitude;
            getCityFromCoordinates(lat, lon);
        }, function(error) {
            console.error("Error occurred: ", error);
            // Handle error, e.g., show a message to the user
        });
    } else {
        console.log("Geolocation is not supported by this browser.");
        // Handle this case, e.g., ask the user to enter their city manually
    }
}

function getCityFromCoordinates(lat, lon) {
    var API_KEY = "780b52cec813bd796130f8b9e4167ad8"
    var URL = `http://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lon}&appid=${API_KEY}`;

    fetch(URL)
        .then(response => response.json())
        .then(data => {
            var city = data.name;
            console.log("City:", city);
        })
        .catch(error => {
            console.error("Error fetching city name:", error);
        });
}
</script>
{% endblock %}