{% extends "base.html" %}
{% block title %} Create Task {% endblock %}
{% block content %}
<form action="/add/task" method="POST">
    <fieldset class="form">
        <legend>Add a New Task</legend>

        <label for="title" class="form-label">Title:</label>
        <input type="text" class="form-control" name="title" id="title">
        <br>
        <label for="due_date" class="form-label">Due Date:</label>
        <input type="date" class="form-control" name="due_date" id="due_date">
        <br>
        <label for="assignee_id" class="form-label">Assign to:</label>
        <select class="form-select" aria-label="Default select example" name="assignee_id" id="assignee_id">
            <option value="">Unassigned</option>
            {% for a_user in user %}
            <option value="{{a_user.id}}">{{a_user.first_name}} {{a_user.last_name}}</option>
            {% endfor %}
        </select>
        <br>
        <label for="details" class="form-label">Details:</label>
        <br>
        <textarea class="form-control" name="details" id="details"></textarea>
        <br>
        <button type="submit" class="btn btn-primary">Add Task</button>
        {% with messages = get_flashed_messages(category_filter=["create"]) %}
        {% if messages %}
        {% for message in messages %}
        <p class="error">{{message}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </fieldset>
</form>
{% endblock %}