{% extends "base_dashboard.html" %}
{% block title %} Dashboard {% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="content">
        <div class="flex">
            <div class="col p-1">
                <h2>{{ user.first_name }}'s Tasks</h2>
                <table class="table table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Task</th>
                            <th scope="col">Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for a_task in tasks %}
                        <tr>
                            <td>
                                <a href="/show/{{ a_task.id }}">{{ a_task.title }}</a>
                                {% for task in tasks_with_unread_messages %}
                                {% if a_task.id == task['id'] %}
                                <span class="badge text-bg-danger">Unread</span>
                                {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ a_task.due_date.strftime("%b %d") }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col p-1">
                <h2>Available Tasks</h2>
                <table class="table table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Task</th>
                            <th scope="col">Due Date</th>
                            <th scope="col">Take On</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for a_task in available_tasks %}
                        <tr>
                            <td><a href="/show/{{ a_task.id }}">{{ a_task.title }}</a></td>
                            <td>{{ a_task.due_date.strftime("%b %d") }}</td>
                            <td>
                                <form action="/add/assignee/{{ user.id }}/task/{{ a_task.id }}" method="POST">
                                    <button type="submit" class="btn btn-outline-primary btn-sm">Take On</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="unread-messages-modal" tabindex="-1" aria-labelledby="unread-messages-modal-label"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="unread-messages-modal-label">You have Unread Messages</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    {% for task in tasks_with_unread_messages %}
                    <li class="list-group-item"><strong>Title:</strong> {{ task.title }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% if tasks_with_unread_messages %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var tasksWithUnreadMessages = {{ tasks_with_unread_messages | tojson | safe
    }};

    if (tasksWithUnreadMessages.length > 0) {
        var modal = new bootstrap.Modal(document.getElementById('unread-messages-modal'));
        modal.show();
    }
    });
</script>

{% endif %}
{% endblock %}