{% extends "base.html" %}
{% block title %} Dashboard {% endblock %}

{% block content %}
<div class="flex">
    <div class="col">
        <h2>{{user.first_name}}'s Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for a_task in tasks %}
                <tr>
                    <td><a href="/show/{{ a_task.id }}">{{ a_task.title }}</a></td>
                    <td>{{ a_task.due_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col">
        <h2>Available Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                    <th>Take On</th>
                </tr>
            </thead>
            <tbody>
                {% for a_task in available_tasks %}
                <tr>
                    <td><a href="/show/{{ a_task.id }}">{{ a_task.title }}</a></td>
                    <td>{{ a_task.due_date }}</td>
                    <td>
                        <form action="/add/assignee/{{ user.id }}/task/{{ a_task.id }}" method="POST">
                            <input type="submit" value="Take On">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% if tasks_with_unread_messages %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var tasksWithUnreadMessages = {{ tasks_with_unread_messages | tojson | safe }};

        if (tasksWithUnreadMessages.length > 0) {
            var alertMessage = 'You have unread messages in the following tasks:\n\n';
            tasksWithUnreadMessages.forEach(function(task) {
                alertMessage += 'Title: ' + task.title + '\n';
            });
            alert(alertMessage);
        }
    });
</script>
{% endif %}
{% endblock %}
