{% extends "base.html" %}
{% block title %} Employee Overview {% endblock %}

{% block content %}
<div class="flex">
    <div class="col">
        <h2>{{user.first_name}} {{user.last_name}}'s Open Tasks</h2>
        <table id="open_tasks_table">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for a_task in incomplete_tasks: %}
                <tr>
                    <td><a href="/show/{{a_task.id}}">{{a_task.title}}</a></td>
                    <td>{{a_task.due_date}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    <div class="col">
        <h2>Completed Tasks</h2>
        <table id="complete_tasks_table">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                    <th>Completed On</th>
                </tr>
            </thead>
            <tbody>
                {% for a_task in complete_tasks: %}
                <tr>
                    <td><a href="/show/{{a_task.id}}">{{a_task.title}}</a></td>
                    <td>{{a_task.due_date}}</td>
                    <td>{{a_task.completed_on}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#complete_tasks_table').DataTable();
        $('#open_tasks_table').DataTable();
    });
</script>
{% endblock %}