{% extends "base_dashboard.html" %}
{% block title %} Employee Overview {% endblock %}

{% block content %}
<div class="row">
    <div class="content">
        <div class="row">
            <h2>{{user.first_name}} {{user.last_name}}'s Open Tasks</h2>
            <div class="row">
                <table id="open_tasks_table" class="table table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Task</th>
                            <th scope="col">Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for a_task in incomplete_tasks: %}
                        <tr>
                            <td><a href="/show/{{a_task.id}}">{{a_task.title}}</a></td>
                            <td>{{a_task.due_date.strftime("%b %d")}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <h2>Completed Tasks</h2>
            <div class="row">
                <table id="complete_tasks_table" class="table table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Task</th>
                            <th scope="col">Due Date</th>
                            <th scope="col">Completed On</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for a_task in complete_tasks: %}
                        <tr>
                            <td><a href="/show/{{a_task.id}}">{{a_task.title}}</a></td>
                            <td>{{a_task.due_date}}</td>
                            <td>{{a_task.completed_on}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
        <a href="/user/edit/{{user.id}}" class="btn btn-primary">Edit User</a>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#complete_tasks_table').DataTable();
        $('#open_tasks_table').DataTable();
    });
</script>
{% endblock %}